<div id="userCreation"></div>
<div id="userList"></div>
@section Scripts {
<script type="text/javascript">

        $('#userCreation').load("/UserMgmt/CreateUserListPartial")

        $('#userList').load("/UserMgmt/ShowUserListPartial")
        
</script>
}